#task-card {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: #635252;
    color: #f0efe9;
    padding: 2px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-top: 4px solid #3c3c3c2d;
    transition: all 0.4s ease-in-out;
}

#task-card:hover {
    border-top: 4px solid #00b164;
    background-color: #6c5858;
    transition: all 0.05s ease-in-out;
}

.tc-graphic {
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

.tc-time {
    width: 50px;
    height: 100%;
    text-align: right;
}

.tc-content>p {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tc-content {
    width: calc(100% - 80px);
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: 6px;
}


.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 8px;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}